<a href="https://colab.research.google.com/github/bdanver/machine_learning/blob/master/notes/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Library
Fast and relational data. The following are important conventions:

In [1]:
from pandas import Series, DataFrame
import pandas as pd

## Pandas Data Structure 
Series and DataFrames. 

**Series**
A Series is a one-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, called its **index**. The index is on the left, and the values are on the right.

In [2]:
s1 = Series([1,2, 3, 4, 5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
s2 = Series([1380, 1205, 102, 36, 1100], index=['Faith', 'Addie', 'Peyton', 'Erin', 'Margaret'])
s2

Faith       1380
Addie       1205
Peyton       102
Erin          36
Margaret    1100
dtype: int64

In [5]:
s2.index

Index(['Faith', 'Addie', 'Peyton', 'Erin', 'Margaret'], dtype='object')

In [6]:
s2.values

array([1380, 1205,  102,   36, 1100])

#### Boolean Operations

In [8]:
s2[s2 > 1000]

Faith       1380
Addie       1205
Margaret    1100
dtype: int64

In [9]:
s2 * s2

Faith       1904400
Addie       1452025
Peyton        10404
Erin           1296
Margaret    1210000
dtype: int64

In [10]:
'Faith' in s2

True

## DataFrame - a spreadsheet like structure
*   ordered collection of columns
*   row index and column index

One way to construct a DataFrame is from a Python dictionary:

In [11]:
data1  = { 'state': ['New Mexico', 'Arizona', 'Utah', 'Colorado' ], 'population': [2.01, 7.28, 3.21, 5.76], 'poverty':[.197, .140, .110, .115]}
data1

{'population': [2.01, 7.28, 3.21, 5.76],
 'poverty': [0.197, 0.14, 0.11, 0.115],
 'state': ['New Mexico', 'Arizona', 'Utah', 'Colorado']}

In [12]:
states = DataFrame(data1)
states

        state  population  poverty
0  New Mexico        2.01    0.197
1     Arizona        7.28    0.140
2        Utah        3.21    0.110
3    Colorado        5.76    0.115

The above came with an automatic index. We can specify the index by the following:

In [13]:
states = DataFrame(data1, index=['NM', 'AZ', 'UT', 'CO'])
states

         state  population  poverty
NM  New Mexico        2.01    0.197
AZ     Arizona        7.28    0.140
UT        Utah        3.21    0.110
CO    Colorado        5.76    0.115

### Extracing Columns

In [14]:
states['population']

NM    2.01
AZ    7.28
UT    3.21
CO    5.76
Name: population, dtype: float64

In [16]:
states[['population', 'poverty']]

    population  poverty
NM        2.01    0.197
AZ        7.28    0.140
UT        3.21    0.110
CO        5.76    0.115

#### Extracting Rows 
Using Loc (location)

In [17]:
states.loc['NM']

state         New Mexico
population          2.01
poverty            0.197
Name: NM, dtype: object

Conditionally

In [18]:
states[states['population'] < 5]

         state  population  poverty
NM  New Mexico        2.01    0.197
UT        Utah        3.21    0.110

In [19]:
states[(states['population'] < 5) & (states['poverty'] < .15)]

   state  population  poverty
UT  Utah        3.21     0.11

### Quick departure from Pandas -- Linux commands

In [20]:
!ls

sample_data

In [21]:
!pwd

/content

In [ ]:
!curl <name of some file> #this shows contents of a file

### reading from a csv file

NaN = not a number, setinel for missing data

In [22]:
athletes = pd.read_csv('https://raw.githubusercontent.com/zacharski/ml-class/master/data/athletesMissingValue.csv')
athletes

                 Name       Sport  Height  Weight
0      Asuka Teramoto  Gymnastics    54.0      66
1    Brittainey Raven  Basketball     NaN     162
2            Chen Nan  Basketball    78.0     204
3       Gabby Douglas  Gymnastics    49.0      90
4    Helalia Johannes       Track    65.0      99
5     Irina Miketenko       Track     NaN     106
6       Jennifer Lacy  Basketball    75.0     175
7        Kara Goucher       Track    67.0     123
8         Linlin Deng  Gymnastics    54.0      68
9       Nakia Sanford  Basketball    76.0     200
10         Nikki Blue  Basketball    68.0     163
11    Qiushuang Huang  Gymnastics    61.0      95
12     Rebecca Tunney  Gymnastics     NaN      77
13        Rene Kalmer       Track    70.0     108
14    Shanna Crossley  Basketball    70.0     155
15   Shavonte Zellous  Basketball    70.0     155
16    Tatyana Petrova       Track    63.0     108
17        Tiki Gelana       Track    65.0     106
18    Valeria Straneo       Track    66.0      97
19    Viktoria Komova  Gymnastics    61.0      76
20          Amy Cragg         NaN    64.0      99
21       Simone Biles  Gymnastics    57.0     104
22     Madison Kocian  Gymnastics    62.0     101
23  Elena Delle Donne  Basketball    77.0     188
24   Seimone Augustus  Basketball    72.0     166
25     Desiree Linden       Track    61.0      97
26   Shalane Flanagan       Track    65.0     106
27   Laurie Hernandez  Gymnastics    60.0     106

We are using the Name col as our index. We do this by: index_col='Name'

In [23]:
athletes2 = pd.read_csv('https://raw.githubusercontent.com/zacharski/ml-class/master/data/athletesMissingValue.csv', index_col='Name')
athletes2

                        Sport  Height  Weight
Name
Asuka Teramoto     Gymnastics    54.0      66
Brittainey Raven   Basketball     NaN     162
Chen Nan           Basketball    78.0     204
Gabby Douglas      Gymnastics    49.0      90
Helalia Johannes        Track    65.0      99
Irina Miketenko         Track     NaN     106
Jennifer Lacy      Basketball    75.0     175
Kara Goucher            Track    67.0     123
Linlin Deng        Gymnastics    54.0      68
Nakia Sanford      Basketball    76.0     200
Nikki Blue         Basketball    68.0     163
Qiushuang Huang    Gymnastics    61.0      95
Rebecca Tunney     Gymnastics     NaN      77
Rene Kalmer             Track    70.0     108
Shanna Crossley    Basketball    70.0     155
Shavonte Zellous   Basketball    70.0     155
Tatyana Petrova         Track    63.0     108
Tiki Gelana             Track    65.0     106
Valeria Straneo         Track    66.0      97
Viktoria Komova    Gymnastics    61.0      76
Amy Cragg                 NaN    64.0      99
Simone Biles       Gymnastics    57.0     104
Madison Kocian     Gymnastics    62.0     101
Elena Delle Donne  Basketball    77.0     188
Seimone Augustus   Basketball    72.0     166
Desiree Linden          Track    61.0      97
Shalane Flanagan        Track    65.0     106
Laurie Hernandez   Gymnastics    60.0     106

In [24]:
athletes.set_index('Name', inplace=True)
athletes

                        Sport  Height  Weight
Name
Asuka Teramoto     Gymnastics    54.0      66
Brittainey Raven   Basketball     NaN     162
Chen Nan           Basketball    78.0     204
Gabby Douglas      Gymnastics    49.0      90
Helalia Johannes        Track    65.0      99
Irina Miketenko         Track     NaN     106
Jennifer Lacy      Basketball    75.0     175
Kara Goucher            Track    67.0     123
Linlin Deng        Gymnastics    54.0      68
Nakia Sanford      Basketball    76.0     200
Nikki Blue         Basketball    68.0     163
Qiushuang Huang    Gymnastics    61.0      95
Rebecca Tunney     Gymnastics     NaN      77
Rene Kalmer             Track    70.0     108
Shanna Crossley    Basketball    70.0     155
Shavonte Zellous   Basketball    70.0     155
Tatyana Petrova         Track    63.0     108
Tiki Gelana             Track    65.0     106
Valeria Straneo         Track    66.0      97
Viktoria Komova    Gymnastics    61.0      76
Amy Cragg                 NaN    64.0      99
Simone Biles       Gymnastics    57.0     104
Madison Kocian     Gymnastics    62.0     101
Elena Delle Donne  Basketball    77.0     188
Seimone Augustus   Basketball    72.0     166
Desiree Linden          Track    61.0      97
Shalane Flanagan        Track    65.0     106
Laurie Hernandez   Gymnastics    60.0     106

#### Describing a DataFrame

In [25]:
athletes.describe()

          Height      Weight
count  25.000000   28.000000
mean   65.200000  121.428571
std     7.416198   40.274455
min    49.000000   66.000000
25%    61.000000   97.000000
50%    65.000000  106.000000
75%    70.000000  156.750000
max    78.000000  204.000000

In [26]:
athletes.mean()

Height     65.200000
Weight    121.428571
dtype: float64

In [27]:
athletes[athletes['Sport'] == 'Basketball'].mean()

Height     73.250000
Weight    174.222222
dtype: float64

In [31]:
athletes.max()

Height     78.0
Weight    204.0
dtype: float64

In [29]:
athletes[['Height', 'Weight']] - athletes.mean()

                   Height     Weight
Name
Asuka Teramoto      -11.2 -55.428571
Brittainey Raven      NaN  40.571429
Chen Nan             12.8  82.571429
Gabby Douglas       -16.2 -31.428571
Helalia Johannes     -0.2 -22.428571
Irina Miketenko       NaN -15.428571
Jennifer Lacy         9.8  53.571429
Kara Goucher          1.8   1.571429
Linlin Deng         -11.2 -53.428571
Nakia Sanford        10.8  78.571429
Nikki Blue            2.8  41.571429
Qiushuang Huang      -4.2 -26.428571
Rebecca Tunney        NaN -44.428571
Rene Kalmer           4.8 -13.428571
Shanna Crossley       4.8  33.571429
Shavonte Zellous      4.8  33.571429
Tatyana Petrova      -2.2 -13.428571
Tiki Gelana          -0.2 -15.428571
Valeria Straneo       0.8 -24.428571
Viktoria Komova      -4.2 -45.428571
Amy Cragg            -1.2 -22.428571
Simone Biles         -8.2 -17.428571
Madison Kocian       -3.2 -20.428571
Elena Delle Donne    11.8  66.571429
Seimone Augustus      6.8  44.571429
Desiree Linden       -4.2 -24.428571
Shalane Flanagan     -0.2 -15.428571
Laurie Hernandez     -5.2 -15.428571

In [30]:
athletes[['Height', 'Weight']].sub(athletes.mean())

                   Height     Weight
Name
Asuka Teramoto      -11.2 -55.428571
Brittainey Raven      NaN  40.571429
Chen Nan             12.8  82.571429
Gabby Douglas       -16.2 -31.428571
Helalia Johannes     -0.2 -22.428571
Irina Miketenko       NaN -15.428571
Jennifer Lacy         9.8  53.571429
Kara Goucher          1.8   1.571429
Linlin Deng         -11.2 -53.428571
Nakia Sanford        10.8  78.571429
Nikki Blue            2.8  41.571429
Qiushuang Huang      -4.2 -26.428571
Rebecca Tunney        NaN -44.428571
Rene Kalmer           4.8 -13.428571
Shanna Crossley       4.8  33.571429
Shavonte Zellous      4.8  33.571429
Tatyana Petrova      -2.2 -13.428571
Tiki Gelana          -0.2 -15.428571
Valeria Straneo       0.8 -24.428571
Viktoria Komova      -4.2 -45.428571
Amy Cragg            -1.2 -22.428571
Simone Biles         -8.2 -17.428571
Madison Kocian       -3.2 -20.428571
Elena Delle Donne    11.8  66.571429
Seimone Augustus      6.8  44.571429
Desiree Linden       -4.2 -24.428571
Shalane Flanagan     -0.2 -15.428571
Laurie Hernandez     -5.2 -15.428571

#### Sorting

In [32]:
athletes.sort_index()

                        Sport  Height  Weight
Name
Amy Cragg                 NaN    64.0      99
Asuka Teramoto     Gymnastics    54.0      66
Brittainey Raven   Basketball     NaN     162
Chen Nan           Basketball    78.0     204
Desiree Linden          Track    61.0      97
Elena Delle Donne  Basketball    77.0     188
Gabby Douglas      Gymnastics    49.0      90
Helalia Johannes        Track    65.0      99
Irina Miketenko         Track     NaN     106
Jennifer Lacy      Basketball    75.0     175
Kara Goucher            Track    67.0     123
Laurie Hernandez   Gymnastics    60.0     106
Linlin Deng        Gymnastics    54.0      68
Madison Kocian     Gymnastics    62.0     101
Nakia Sanford      Basketball    76.0     200
Nikki Blue         Basketball    68.0     163
Qiushuang Huang    Gymnastics    61.0      95
Rebecca Tunney     Gymnastics     NaN      77
Rene Kalmer             Track    70.0     108
Seimone Augustus   Basketball    72.0     166
Shalane Flanagan        Track    65.0     106
Shanna Crossley    Basketball    70.0     155
Shavonte Zellous   Basketball    70.0     155
Simone Biles       Gymnastics    57.0     104
Tatyana Petrova         Track    63.0     108
Tiki Gelana             Track    65.0     106
Valeria Straneo         Track    66.0      97
Viktoria Komova    Gymnastics    61.0      76

In [33]:
athletes.sort_index(ascending=False)

                        Sport  Height  Weight
Name
Viktoria Komova    Gymnastics    61.0      76
Valeria Straneo         Track    66.0      97
Tiki Gelana             Track    65.0     106
Tatyana Petrova         Track    63.0     108
Simone Biles       Gymnastics    57.0     104
Shavonte Zellous   Basketball    70.0     155
Shanna Crossley    Basketball    70.0     155
Shalane Flanagan        Track    65.0     106
Seimone Augustus   Basketball    72.0     166
Rene Kalmer             Track    70.0     108
Rebecca Tunney     Gymnastics     NaN      77
Qiushuang Huang    Gymnastics    61.0      95
Nikki Blue         Basketball    68.0     163
Nakia Sanford      Basketball    76.0     200
Madison Kocian     Gymnastics    62.0     101
Linlin Deng        Gymnastics    54.0      68
Laurie Hernandez   Gymnastics    60.0     106
Kara Goucher            Track    67.0     123
Jennifer Lacy      Basketball    75.0     175
Irina Miketenko         Track     NaN     106
Helalia Johannes        Track    65.0      99
Gabby Douglas      Gymnastics    49.0      90
Elena Delle Donne  Basketball    77.0     188
Desiree Linden          Track    61.0      97
Chen Nan           Basketball    78.0     204
Brittainey Raven   Basketball     NaN     162
Asuka Teramoto     Gymnastics    54.0      66
Amy Cragg                 NaN    64.0      99

In [34]:
athletes.sort_values('Height')

                        Sport  Height  Weight
Name
Gabby Douglas      Gymnastics    49.0      90
Asuka Teramoto     Gymnastics    54.0      66
Linlin Deng        Gymnastics    54.0      68
Simone Biles       Gymnastics    57.0     104
Laurie Hernandez   Gymnastics    60.0     106
Desiree Linden          Track    61.0      97
Qiushuang Huang    Gymnastics    61.0      95
Viktoria Komova    Gymnastics    61.0      76
Madison Kocian     Gymnastics    62.0     101
Tatyana Petrova         Track    63.0     108
Amy Cragg                 NaN    64.0      99
Tiki Gelana             Track    65.0     106
Helalia Johannes        Track    65.0      99
Shalane Flanagan        Track    65.0     106
Valeria Straneo         Track    66.0      97
Kara Goucher            Track    67.0     123
Nikki Blue         Basketball    68.0     163
Shanna Crossley    Basketball    70.0     155
Rene Kalmer             Track    70.0     108
Shavonte Zellous   Basketball    70.0     155
Seimone Augustus   Basketball    72.0     166
Jennifer Lacy      Basketball    75.0     175
Nakia Sanford      Basketball    76.0     200
Elena Delle Donne  Basketball    77.0     188
Chen Nan           Basketball    78.0     204
Brittainey Raven   Basketball     NaN     162
Irina Miketenko         Track     NaN     106
Rebecca Tunney     Gymnastics     NaN      77

In [35]:
athletes.sort_values('Height', ascending=False)

                        Sport  Height  Weight
Name
Chen Nan           Basketball    78.0     204
Elena Delle Donne  Basketball    77.0     188
Nakia Sanford      Basketball    76.0     200
Jennifer Lacy      Basketball    75.0     175
Seimone Augustus   Basketball    72.0     166
Shavonte Zellous   Basketball    70.0     155
Shanna Crossley    Basketball    70.0     155
Rene Kalmer             Track    70.0     108
Nikki Blue         Basketball    68.0     163
Kara Goucher            Track    67.0     123
Valeria Straneo         Track    66.0      97
Helalia Johannes        Track    65.0      99
Tiki Gelana             Track    65.0     106
Shalane Flanagan        Track    65.0     106
Amy Cragg                 NaN    64.0      99
Tatyana Petrova         Track    63.0     108
Madison Kocian     Gymnastics    62.0     101
Qiushuang Huang    Gymnastics    61.0      95
Desiree Linden          Track    61.0      97
Viktoria Komova    Gymnastics    61.0      76
Laurie Hernandez   Gymnastics    60.0     106
Simone Biles       Gymnastics    57.0     104
Linlin Deng        Gymnastics    54.0      68
Asuka Teramoto     Gymnastics    54.0      66
Gabby Douglas      Gymnastics    49.0      90
Brittainey Raven   Basketball     NaN     162
Irina Miketenko         Track     NaN     106
Rebecca Tunney     Gymnastics     NaN      77

#### First by height, and then by weight

In [36]:
athletes.sort_values(['Height', 'Weight'], ascending=False)

                        Sport  Height  Weight
Name
Chen Nan           Basketball    78.0     204
Elena Delle Donne  Basketball    77.0     188
Nakia Sanford      Basketball    76.0     200
Jennifer Lacy      Basketball    75.0     175
Seimone Augustus   Basketball    72.0     166
Shanna Crossley    Basketball    70.0     155
Shavonte Zellous   Basketball    70.0     155
Rene Kalmer             Track    70.0     108
Nikki Blue         Basketball    68.0     163
Kara Goucher            Track    67.0     123
Valeria Straneo         Track    66.0      97
Tiki Gelana             Track    65.0     106
Shalane Flanagan        Track    65.0     106
Helalia Johannes        Track    65.0      99
Amy Cragg                 NaN    64.0      99
Tatyana Petrova         Track    63.0     108
Madison Kocian     Gymnastics    62.0     101
Desiree Linden          Track    61.0      97
Qiushuang Huang    Gymnastics    61.0      95
Viktoria Komova    Gymnastics    61.0      76
Laurie Hernandez   Gymnastics    60.0     106
Simone Biles       Gymnastics    57.0     104
Linlin Deng        Gymnastics    54.0      68
Asuka Teramoto     Gymnastics    54.0      66
Gabby Douglas      Gymnastics    49.0      90
Brittainey Raven   Basketball     NaN     162
Irina Miketenko         Track     NaN     106
Rebecca Tunney     Gymnastics     NaN      77